// COLORS
$primary-color: #2C3E50;
$secondary-color: #4CA1AF;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
